.first-color {
  color: #e4f9f5;
}
.second-color {
  color: #30e3ca;
}
.third-color {
  color: #11999e;
}
.fourth-color {
  color: #40514e;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  color: #bdbdbd;
}
.icon-color {
  color: #000000;
}

body {
  margin-top: 16px;
}

#fahrenheit-link {
  color: #757575;
}

#ceslius-link {
  color: #11999e;
}

.container {
  max-width: 624px;
  min-width: 624px;
}

.card {
  background-image: linear-gradient(to top, #bfcfd8 0%, #e6eff5 100%);
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.1);
}

.header {
  padding-bottom: 24px;
}

.date,
.hour {
  display: inline;
}
.header p strong {
  font-size: 14px;
  padding-left: 12px;
}
.date {
  padding: 0 12px 0 0;
  color: #11999e;
}

.hour {
  font-size: 16px;
  color: #757575;
  position: relative;
  left: 175px;
}

.search {
  margin: 0 auto;
  display: block;
}
.search-engine button {
  position: relative;
  top: -46px;
  left: 243px;
  margin: 4px;
  color: #757575;
}
.search-engine {
  max-width: 240px;
  margin: 0 auto;
}
.search-engine label {
  color: #11999e;
  margin-bottom: 0;
}

.try {
  display: block;
  margin: 0 auto;
}
.fa-search-location,
.fa-compass {
  font-size: 15px;
  color: #757575;
}
.form-control,
.mb-2 {
  font-size: 12px;
}

.chosen-city {
  margin-top: -12px;
  margin-bottom: 10px;
}

.chosen-city .location,
.temperature {
  text-align: right;
  padding: 0;
}

.location,
.temperature {
  font-family: "Yantramanav", sans-serif;
  line-height: 1;
  color: #11999e;
}
.city {
  font-size: 32px;
  font-weight: 900;
}
.country {
  font-size: 20px;
}
.temperature {
  text-align: center;
}
.temperature-value {
  font-weight: 900;
  font-size: 64px;
  padding-left: 8px;
}
.celsius {
  color: #11999e;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: -30px;
}
.change-units {
  color: #757575;
  font-size: 11px;
  position: relative;
  top: -22px;
  left: 66px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.maxMinTemp {
  color: #11999e;
  position: relative;
  left: 102px;
  top: -27px;
  font-size: 16px;
}

.unit {
  font-size: 10px;
}

.weather-today,
.forecastBox {
  padding: 0 32px;
  color: #40514e;
  text-align: center;
  margin-bottom: 10px;
}

.forecastBox button {
  margin: 5px;
  width: 231px;
  height: 35px;
  font-size: 15px;
}

.active button {
  background-color: #f2f4f6;
}

.five-day-weather {
  padding: 0 32px;
}
.subtitle {
  text-align: left;
}

.fa-temperature-low,
.fa-tint,
.fa-wind {
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 64px;
  opacity: 0.1;
}
.weatherIcon {
  position: relative;
  top: -18px;
  font-size: 64px;
}

.parameter,
.parameter-value,
.parameter-unit,
.five-day-weather .card {
  font-family: "Yantramanav", sans-serif;
}

.parameter-value {
  font-size: 36px;
}

.weatherDescription {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -32px;
  left: 0;

  margin: 0;
}

p:first-letter {
  text-transform: capitalize;
}

.forecastCard {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.1);
  color: #11999e;
}

.temperature-day {
  font-size: 12px;
  margin: 0;
}

.month-day {
  font-size: 12px;
}

.fa-cloud-sun,
.fa-sun {
  position: relative;
  top: -18px;

  width: 100%;
}

.dayWeatherIcon {
  width: 100%;
}

button {
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.1);
}

p.openSource {
  font-size: 12px;
  margin-top: 10px;
}
