body {
  margin-top: 16px;
}

hr {
  border-color: #2d4c63;
}

#fahrenheit-link,
#forecast-units-link {
  color: #cfd8dc;
}

.container {
  max-width: 624px;
  min-width: 624px;
}

.card {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  box-shadow: 8px 8px 8px rgba(148, 148, 148, 0.8);
}

.header {
  padding-bottom: 24px;
}

.date,
.hour {
  display: inline;
}
.header p strong {
  font-size: 14px;
  padding-left: 12px;
}
.date {
  padding: 0 12px 0 0;
  color: #ffffff;
}

.hour {
  font-size: 16px;
  color: #cfd8dc;
  position: relative;
  left: 175px;
}

.search {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}
.search-engine button {
  position: relative;
  top: -43px;
  left: 243px;
  margin: 4px;
  line-height: 1;
}
.search-engine {
  max-width: 240px;
  margin: 0 auto;
}
.search-engine label {
  color: #ffffff;
  margin-bottom: 0;
}

.coordinates {
  font-size: 10px;
  color: #cfd8dc;
}

form {
  height: 60px;
}

.try {
  display: block;
  margin: 0 auto;
}
.fa-search-location,
.fa-compass {
  font-size: 15px;
  color: #687378;
}
.form-control,
.mb-2 {
  font-size: 12px;
}

.chosen-city .location,
.temperature {
  text-align: right;
  padding: 0;
}

.location,
.temperature {
  font-family: "Yantramanav", sans-serif;
  line-height: 1;
  color: #ffffff;
}
.city {
  font-size: 32px;
  font-weight: 900;
  margin-top: 8px;
}
.country {
  font-size: 20px;
}
.temperature {
  text-align: center;
}
.temperature-value {
  font-weight: 900;
  font-size: 82px;
  padding-left: 8px;
}
.celsius {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: -40px;
}
.changeCurrentUnits,
.changeForecastUnits {
  color: #cfd8dc;
  font-size: 11px;
  position: relative;
  top: -30px;
  left: 70px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.changeForecastUnits {
  left: 193px;
  top: 0;
}

.maxMinTemp {
  color: #ffffff;
  position: relative;
  left: 108px;
  top: -29px;
  font-size: 16px;
}

.unit {
  font-size: 10px;
}

.weather-today,
.forecastBox {
  padding: 0 32px;
  color: #cfd8dc;
  text-align: center;
}

.five-day-weather {
  padding: 0 32px;
}
.subtitle {
  text-align: left;
}

.fa-temperature-low,
.fa-tint,
.fa-wind {
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 64px;
  opacity: 0.1;
}
.weatherIcon {
  position: relative;
  top: -18px;
  font-size: 64px;
}

.parameter,
.parameter-value,
.parameter-unit,
.five-day-weather .card {
  font-family: "Yantramanav", sans-serif;
}

.parameter-value {
  font-size: 36px;
}

.weatherDescription {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -32px;
  left: 0;

  margin: 0;
}

p:first-letter {
  text-transform: capitalize;
}

.forecastCard {
  background-image: linear-gradient(to top, #09203fad 0%, #537895 100%);
  border: none;
  box-shadow: 4px 4px 4px rgba(250, 250, 250, 0.1);
  color: #ffffff;
  margin-bottom: 20px;
}

.temperature-day {
  font-size: 14px;
  margin: 0;
}

.month-day {
  font-size: 12px;
}

.fa-cloud-sun,
.fa-sun {
  position: relative;
  top: -18px;

  width: 100%;
}

.dayWeatherIcon {
  width: 100%;
}

button {
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.1);
}

p.openSource {
  font-size: 12px;
  margin-top: 10px;
}
